body {
  background-color: #F7D9CC;
}

.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

nav {
  background-color: #6E0F14;
  width: 100%;
  height: 46px;
  color: #F7D9CC;
}

#title {
  display: inline;
  margin-right: 34px; 
}

#title a, #title a:hover, #title a:visited {
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 46px;
  padding-left: 15px;
  text-decoration: none;
}

#nav-links {
  display: inline;
}

#nav-links div {
  display: inline;
  margin-right: 20px;
}

#nav-links a, #nav-links a:visited {
  color: white;
  font-size: 14px;
  line-height: 46px;
  text-decoration: none;
}

#nav-links a:hover {
  color: #FDA881;
}

.header{
  background-color: gray;
  height: 30px;
}

/*.header #nav{
  position: relative;
  left: 100px;
  margin: 0;
  background-color: red;
  padding-right: 50px;
}*/

nav a{
  padding-right: 25px;
  color: #F7D9CC;
}

h1, h2 {
  color: #31100D;
  /*text-align: center;*/
  /*font-family: Helvetica, Arial, sans-serif;*/
}

/*body, select, input, textarea {  
    color: #444;  
    font-family: Helvetica, Arial, sans-serif; 
    background-color: #E8E8E8;
}  */

form input{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
}

.button {
  width: auto;
}

#submit_button {
  background-color: #FF9966;
  border: 1px solid orange;
  border-radius: 10px;
}

li {
  font-size: 12px;
}
/*
img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}*/




#click {
  font-size: 10px;
  font-style: italic;
}

/*#login-layout {
  background-color: gray;
  float: left;
}*/

#gorilla {
  position: fixed;
  /*opacity: 0.75;*/
  height: 360px;
  bottom: 0;
  right: 0;
}
