body {
  background-color: #B6DE40;
}

.container {
  margin: 20px auto;
  width: 90%;
  background-color: lightblue;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.header{
  background-color: gray;
  height: 30px;

}

/*.header #nav{
  position: relative;
  left: 100px;
  margin: 0;
  background-color: red;
  padding-right: 50px;
}*/

.header #nav a{
  padding-right: 25px;
}

/*body, select, input, textarea {  
    color: #444;  
    font-family: Helvetica, Arial, sans-serif; 
    background-color: #E8E8E8;
}  */

#submit_button {
  background-color: #FF9966;
  border: 1px solid orange;
  border-radius: 10px;
}

li {
  font-size: 12px;
}
/*
img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}*/


h1, h2 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

#click {
  font-size: 10px;
  font-style: italic;
}

/*#login-layout {
  background-color: gray;
  float: left;
}*/

#gorilla {
  position: fixed;
  /*opacity: 0.75;*/
  height: 300px;
  bottom: 0;
  right: 0;
}
