<h1>Create Survey</h1>

<ul class="questions">
  <li class="question">
    <form action="/create" method="post"></form>
    <ul class="answers">
      <li class="answer"></li>
    </ul>

  </li>
</ul>

<div class="question-form">
  <form action="/create" method="post">
    <input class="Q" type="text" name="">
    <input class="A" type="text" name="">
    <input class="A" type="text" name="">
  </form>
</div>

