<h1>Create Survey</h1>

<div class='question-shell'>

  <div class="question-container">
    <input type='text' class='question' placeholder='question'>

    <div class='answer-container'>
      <input type='text' class='answer' placeholder='answer'>
    </div>

    <button class='add-answer'>Add Answer</button>
  </div>
</div>
<button class='add-question'>Add Question</button>

<button class='submit'>Submit Survey</button>

