<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <title></title>
</head>
<body>

<nav>
  <div id="title">
    <a href="/">survey bear</a>
  </div>
  <div id="nav-links">
    <% unless current_user %>
      <div><a href="/create_user">Sign Up</a></div>
      <div><a href="/login">Login</a></div>
    <% end %>
    <% if current_user %>
      <div><a href="/create">Create Survey</a></div>
      <div><a href="/history/<%= current_user.id %>">History</a></div>
      <div><a href="/logout">Logout</a></div>
    <% end %>
  </div>
</nav>


  <div class="container">
    <%= yield %>
  </div>
  <img id="gorilla" src="/images/gorilla.png">
  <img id="gorilla2" src="/images/gorilla.png">
</body>
</html>

