<form action="/photo_upload" method='post' enctype="multipart/form-data">
	<input type='text' name='survey' placeholder='Survey Id'>
  <input type="file" name="photo">
  <input type="submit" name="submit" value="Upload">
</form>
